body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-space {
  width: 480px;
  height: 480px;
  overflow: hidden;
  position: relative;
}

div.html, canvas.drawn {
  width: 480px;
  height: 480px;
  position: absolute;
  transition: left 1s;
}

div.off, canvas.off {
  left: 480px
}

div.on, canvas.on {
  left: 0px
}

div.hidden, canvas.hidden {
  left: -480px
}