body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-space {
  width: 480px;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.screen {
  width: 480px;
  height: 480px;
  position: absolute;
  transition: left 1s;
  border: 1px solid black;
  box-sizing: border-box;
}

.screen.off {
  left: 480px
}

.screen.on {
  left: 0px
}

.screen.hidden {
  left: -480px
}